---
import AccordionItem from "../components/AccordionItem.astro";

const { data, exclusive } = Astro.props;
---

<section class="accordion-container">
  <h3>FAQ</h3>
  <h2>Customer Questions</h2>
  <div>
    {data.map((props) => <AccordionItem {...props} {exclusive} />)}
  </div>
</section>

<style>
  section {
    padding: 151px 236px;
    background: var(--bg-light-gray);
    max-width: 1200px;
    border-radius: 30px;
    margin-inline: auto;
    margin-bottom: 150px;

    @media (max-width: 1024px) {
      padding: 120px 80px;
    }

    @media (max-width: 768px) {
      padding: 80px 38px;
    }

    h3 {
      font-family: var(--font-body);
      color: var(--color-text-dark);
      font-size: var(--font-size-base);
      font-weight: var(--font-weight-regular);
      line-height: var(--line-height-normal);
      letter-spacing: 2.32px;
      margin-bottom: 22px;
      text-align: center;
    }

    h2 {
      color: var(--color-text-dark);
      font-size: var(--font-size-6xl);
      font-weight: var(--font-weight-bold);
      line-height: var(--line-height-tight);
      text-align: center;
    }
  }
  div {
    padding: 1rlh;
    max-width: 725px;
    margin-inline: auto;
  }
</style>
