---

---

<section>
  <div class="footer-content">
    <h2>AskExperts</h2>
    <div></div>
    <p>©2025 Consultalk. All rights reserved | Terms of Service | Privacy Policy</p>
  </div>
</section>

<style>
  @layer components {
    section {
      background: #181818;
      padding: 46px 0;
    }

    .footer-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 36px;
      max-width: calc(1200px + 38px * 2);
      margin: 0 auto;
      padding: 0 38px;
    }

    h2 {
      font-size: 30px;
      font-weight: 600;
      color: #ffffff;
      line-height: 105%;
    }

    div:not(.footer-content) {
      border-top: 1px solid white;
      width: 100%;
    }

    p {
      color: #ffffff;
    }
  }
</style>
