---

---

<section>
  <div>
    <h2>1128+</h2>
    <p>Successful Work</p>
  </div>
  <div>
    <h2>908+</h2>
    <p>Team Member</p>
  </div>
  <div>
    <h2>258+</h2>
    <p>Happy Customers</p>
  </div>
  <div>
    <h2>564+</h2>
    <p>Creative Idea</p>
  </div>
</section>

<style>
  @layer components {
    section {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;
      padding: 60px 38px 100px 38px;
      max-width: 1200px;
      margin: 0 auto;
      gap: 40px;

      div {
        text-align: center;
        margin: 20px 0;

        h2 {
          font-size: var(--font-size-7xl);
          font-weight: var(--font-weight-bold);
          margin: 0;
          color: var(--color-text-dark);

          @media (max-width: 768px) {
            font-size: var(--font-size-4xl);
          }
        }

        p {
          font-size: var(--font-size-md);
          margin: 12px 0 0 0;
          font-weight: var(--font-weight-medium);
          color: var(--color-text-dark);
        }
      }
    }
  }
</style>
