---

---

<section>
  <div>
    <h2>1128+</h2>
    <p>Successful Work</p>
  </div>
  <div>
    <h2>908+</h2>
    <p>Team Member</p>
  </div>
  <div>
    <h2>258+</h2>
    <p>Happy Customers</p>
  </div>
  <div>
    <h2>564+</h2>
    <p>Creative Idea</p>
  </div>
</section>

<style>
  @layer components {
    section {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 60px 0 100px 0;
      max-width: 1200px;
      margin: 0 auto;

      div {
        text-align: center;

        h2 {
          font-size: 50px;
          font-weight: 700;
          margin: 0;
          color: #181818;
        }

        p {
          font-size: 18px;
          margin: 12px 0 0 0;
          font-weight: 500;
          color: #181818;
        }
      }
    }
  }
</style>
